<%= image_tag "models/gttr-index-edited3.jpg", id:"index-img" %>
<h1>gttr</h1>
<button id="login-btn"><%= link_to "Login", login_path %></button>
<button id="signup-btn"><%= link_to "Sign Up", signup_path %></button>
<p>&copy; mi-gyna</p>

<div class="modal">
  <div class="modal-content">
    <div class="form-container">
      <div class="login-form">
        <span class="close"><%= link_to "x", '/gttr' %></span>
        <%= form_tag "/sessions" do %>
        <div class="">
          <%= label_tag :username %>
        </div>
        <div class="input-container">
          <%= text_field_tag :username %>
        </div>
        <br><br>
        <div class="">
          <%= label_tag :password %>
        </div>
        <div class="input-container">
          <%= password_field_tag :password %>
        </div>
        <br><br>
        <%= submit_tag "Log in" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
