<!-- css -->
  <div class="main-nav">
    <button><%= link_to "Log Out", logout_path, method: :delete %></button>
    <button><%= link_to "My Account", @user %></button>
    <button><%= link_to "Create", new_outfit_path %></button>
  </div>
  <div class="all-outfits">
    <% @outfits.each do |outfit| %>
      <% user_id = outfit.user_id %>
      <div class="all-outfit-margin index-all-outfits">
        <h4><%= link_to outfit.name, User.find(user_id) %></h4>
        <% outfit.clothes.each do |clothe| %>
          <div class="outfit-clothe">
            <%= image_tag clothe.url %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
