
<!-- css -->

<div class="sidenav">
  <h1 id="top">gttr</h1>
  <div id="nav-container">
    <a href="#shirts">Shirt</a>
    <a href="#pants">Pant</a>
    <a href="#">Dress</a>
    <a href="#footwear">Footwear</a>
    <a href="#">Accessories</a>
    <a href="#">Misc</a>
  </div>
</div>

<div class="main">
  <div class="main-nav">
  </div>
  <ul class="modal-content">
    <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |error| %>
    <li class="error-message">*<%= error %></li>
    <% end %>
    <% end %>
  </ul>
  <div class="new-outfit-form">
    <%= form_for @outfit, html: { autocomplete: "off" } do |f| %>
      <div class="create-outfit-form">
        <%= f.label 'Name Your Outfit:' %>
        <%= f.text_field :name %>
        <%= f.submit "Create" %>
      </div>
      <div id="shirts" class="select-clothes">
        <% @shirts.each do |shirt| %>
          <%= image_tag shirt.url %>
          <%= radio_button_tag 'clothe_ids[shirt]', shirt.id %>
        <% end %>
      </div>
      <div id="pants" class="select-clothes">
        <% @pants.each do |pant| %>
          <%= image_tag pant.url %>
          <%= radio_button_tag 'clothe_ids[pant]', pant.id %>
        <% end %>
      </div>
      <div id="footwear" class="select-clothes">
        <% @footwears.each do |footwear| %>
          <%= image_tag footwear.url %>
          <%= radio_button_tag 'clothe_ids[footwear]', footwear.id %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<button onclick="topFunction()" class="top"><a href="#top">^</a></button>

<script type="text/javascript">
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>
