<%= @outfit.name %>
<%= @outfit.date %>
<% @outfit.clothes.each do |clothe| %>
  <%= clothe.category %>
<% end %>
<button><%= link_to "My Account", @user %></button>
<button><%= link_to "Explore", outfits_path %></button>
<button><%= link_to "Log Out", logout_path, method: :delete %></button>
<!-- <button><%= link_to "Delete Outfit", outfit_path, method: :delete %></button><br> -->
