<h1> <%= @user.display_name %> </h1>
<p> <%= @user.bio %> </p>
<% if @user.my_outfits.empty? %>
    <h1>No Outfits</h1><br>
    <button><%= link_to "Create an Outfit!", new_outfit_path %></button><br>
<% else %>
    <h1>My Outfits</h1>
    <% @user.my_outfits.each do |outfit| %>
    <h3><%= outfit.name %></h3>
<% end %>
  <button><%= link_to "Create a New Outfit!", new_outfit_path %></button><br>
<% end %><br>
<button><%= link_to "Explore", outfits_path %></button>
<button><%= link_to "All Clothes", clothes_path %></button><br>
<button><%= link_to "Edit Profile", edit_user_path %></button>
<button><%= link_to "Delete Account", user_path, method: :delete %></button>
<button><%= link_to "Log Out", logout_path, method: :delete %></button>
