<div class="clothes-sidenav">
  <h1>gttr</h1>
  <div id="nav-container">
    <a href="#shirt-container">Shirt</a>
    <a href="#pant-container">Pant</a>
    <a href="#">Dress</a>
    <a href="#">Footwear</a>
    <a href="#">Accessories</a>
    <a href="#">Misc</a>
  </div>
</div>
<div class="main">
  <div class="main-nav">
    <button><a href="#">My Account</a></button>
    <button><a href="#">Explore</a></button>
  </div>
  <div id="shirt-container">
    <%= image_tag "shirts/army-green-shirt.jpg" %>
    <%= image_tag "shirts/blue-plaid.jpg" %>
    <%= image_tag "shirts/checkered-shirt.jpeg" %>
    <%= image_tag "shirts/fitted-blue-button-up.jpg" %>
    <%= image_tag "shirts/fitted-pink-button-up.jpg" %>
    <%= image_tag "shirts/fitted-white-button-up.jpg" %>
    <%= image_tag "shirts/gucci-rose-hoodie.jpeg" %>
    <%= image_tag "shirts/gucci-stranger-things-hoodie.png" %>
    <%= image_tag "shirts/long-baseball-tee.png" %>
    <%= image_tag "shirts/octocat-shirt.png" %>
    <%= image_tag "shirts/orange-hoodie.jpg" %>
    <%= image_tag "shirts/pug-life-shirt.jpg" %>
    <%= image_tag "shirts/pug-shirt.jpg" %>
    <%= image_tag "shirts/pugtato-shirt.jpg" %>
    <%= image_tag "shirts/the-office-aqua-blue-shirt.png" %>
  </div>
  <div id="pant-container">
    <%= image_tag "pants/black-shorts.jpg" %>
    <%= image_tag "pants/black-skirt-belt.jpeg" %>
    <%= image_tag "pants/black-skirt.jpg" %>
    <%= image_tag "pants/blue-green-plaid-skirt.jpeg" %>
    <%= image_tag "pants/brick-pants.jpg" %>
    <%= image_tag "pants/dripping-space-sweatpants.jpg" %>
    <%= image_tag "pants/grey-sweatshorts.png" %>
    <%= image_tag "pants/grey-straight-pant.jpg" %>
    <%= image_tag "pants/grey-sweatpants.jpg" %>
    <%= image_tag "pants/grey-sweatshorts.png" %>
    <%= image_tag "pants/hundred-sweatpants.jpg" %>
    <%= image_tag "pants/khaki-cuff-joggers.jpg" %>
    <%= image_tag "pants/light-blue-jeans.jpg" %>
    <%= image_tag "pants/light-pink-shorts.jpg" %>
    <%= image_tag "pants/long-red-skirt.jpg" %>
    <%= image_tag "pants/mens-leggings.jpg" %>
    <%= image_tag "pants/navy-blue-ruffle-skirt.jpeg" %>
    <%= image_tag "pants/navy-blue-skirt.jpeg" %>
    <%= image_tag "pants/neon-blue-shorts.jpg" %>
    <%= image_tag "pants/olive-green-pant.jpg" %>
    <%= image_tag "pants/olive-khaki-pants.jpg" %>
    <%= image_tag "pants/powered-by-plants-sweatpants.png" %>
    <%= image_tag "pants/red-spiral-long-skirt.jpg" %>
    <%= image_tag "pants/rooster-sweatpants.png" %>
    <%= image_tag "pants/sky-blue-sweatshorts.jpg" %>
    <%= image_tag "pants/tan-skirt.jpg" %>
    <%= image_tag "pants/wheat-pants.jpg" %>
    <%= image_tag "pants/womens-dark-jean-shorts.jpg" %>
    <%= image_tag "pants/womens-grey-leggings.jpg" %>
    <%= image_tag "pants/yellow-plaid-skirt.png" %>
  </div>
</div>
