<!DOCTYPE html>
<html>
  <head>
    <title>Gttr</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% unless controller_name == "application" || controller_name == "sessions" || current_page?(signup_path) %>
      <nav>
        <h1>gttr</h1>
        <ul>
          <li><%= link_to "Log Out", logout_path, method: :delete %></li>
          <li><%= link_to "My Account", @user %></li>
          <li><%= link_to "Create", new_outfit_path %></li>
          <li><%= link_to "Explore", outfits_path %></li>
        </ul>
      </nav>
    <% end %>
    <%= yield %>
  </body>
</html>
